body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom, #aeeea4, #8ccf7d); /* Light green gradient background */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

.page-title {
    background-color: #77b300; /* Darker green for title background */
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.split-container {
    flex: 1; /* Expand to fill available space */
    display: flex;
}

.split-item {
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 2px solid #77b300;
}
